@page "/CreateProducts"
@using Microsoft.AspNetCore.Authorization
@using Microsoft.AspNetCore.Components.WebAssembly.Authentication
@using Lab2Webb.Shared
@using Lab2Webb.Shared.DTOs
@using MongoDB.Bson


@inject NavigationManager _navigationManager
@inject HttpClient HttpClient

<h3>Create Product</h3>

<EditForm Model="Product" OnValidSubmit="CreateNewProduct">
	<DataAnnotationsValidator/>
	<hr/>
	<div class="row m-2">
		<label class="col-sm-2 col-form-label" for="name">Name</label>
		<div class="col-sm-10">
			<InputText class="form-control mt-1" id="name" @bind-Value="Product.Name"></InputText>
		</div>
	</div>

	<div class="row m-2">
		<label class="col-sm-2 col-form-label" for="description">Description</label>
		<div class="col-sm-10">
			<InputText class="form-control mt-1" id="description" @bind-Value="Product.Description"></InputText>
		</div>
	</div>

	<div class="row m-2">
		<label class="col-sm-2 col-form-label" for="price">Price</label>
		<div class="col-sm-10">
			<InputNumber class="form-control mt-1" id="price" @bind-Value="Product.Price"></InputNumber>
		</div>
	</div>

	<div class="row m-2">
		<label class="col-sm-2 col-form-label" for="type">Type</label>
		<div class="col-sm-10">
			<InputText class="form-control mt-1" id="type" @bind-Value="Product.Type"></InputText>
		</div>
	</div>

	<div class="row m-2">
		<label class="col-sm-2 col-form-label" for="imageUrl">Image Url</label>
		<div class="col-sm-10">
			<InputText class="form-control mt-1" id="imageUrl" @bind-Value="Product.ImgURL"></InputText>
		</div>
	</div>

	<div class="row m-2">
		<label class="col-sm-2 col-form-label" for="status">In Stock</label>
		<div class="col-sm-10">
			<InputCheckbox class="form-check mt-1" id="status" @bind-Value="Product.Status"></InputCheckbox>
		</div>
	</div>
	<div class="text-center">
		<button class="m-2 btn btn-primary">Create product</button>
	</div>
	<ValidationSummary/>
</EditForm>

<h3>Update Product</h3>

<div class="col-3">
	<h4>Get Product By Name</h4>

	<EditForm Model="ProductToUpdate" OnValidSubmit="GetProdFromName">
		<DataAnnotationsValidator />
		<InputText class=" dropdown form-control m-2" @bind-Value="ProductToUpdate.Name"></InputText>
		<button>Search</button>
		<ValidationSummary />
	</EditForm>
</div>

<EditForm Model="ProductToUpdate" OnValidSubmit="UpdateProduct">
	<DataAnnotationsValidator />
	<hr />
	<div class="row m-2">
		<label class="col-sm-2 col-form-label" for="name">Name</label>
		<div class="col-sm-10">
			<InputText class="form-control mt-1" id="name" @bind-Value="ProductToUpdate.Name"></InputText>
		</div>
	</div>

	<div class="row m-2">
		<label class="col-sm-2 col-form-label" for="description">Description</label>
		<div class="col-sm-10">
			<InputText class="form-control mt-1" id="description" @bind-Value="ProductToUpdate.Description"></InputText>
		</div>
	</div>

	<div class="row m-2">
		<label class="col-sm-2 col-form-label" for="price">Price</label>
		<div class="col-sm-10">
			<InputNumber class="form-control mt-1" id="price" @bind-Value="ProductToUpdate.Price"></InputNumber>
		</div>
	</div>

	<div class="row m-2">
		<label class="col-sm-2 col-form-label" for="type">Type</label>
		<div class="col-sm-10">
			<InputText class="form-control mt-1" id="type" @bind-Value="ProductToUpdate.Type"></InputText>
		</div>
	</div>

	<div class="row m-2">
		<label class="col-sm-2 col-form-label" for="imageUrl">Image Url</label>
		<div class="col-sm-10">
			<InputText class="form-control mt-1" id="imageUrl" @bind-Value="ProductToUpdate.ImgURL"></InputText>
		</div>
	</div>

	<div class="row m-2">
		<label class="col-sm-2 col-form-label" for="status">In Stock</label>
		<div class="col-sm-10">
			<InputCheckbox class="form-check mt-1" id="status" @bind-Value="ProductToUpdate.Status"></InputCheckbox>
		</div>
	</div>
	<div class="text-center">
		<button class="m-2 btn btn-primary">Update product</button>
	</div>

	<ValidationSummary />
</EditForm>

<h3>Delete Product</h3>

<select id="SearchStateId" name="stateId" @onchange="Callback" class="form-control1">
	<option>Choose A Product</option>
	@foreach (var state in ProductList)
	{
		<option value="@state.Name">@state.Name</option>
	}
</select>

